:root {
    --primary-color: #4A90E2;
    --background-light: #FDFEFE;
}

body { 
    font-family: 'Noto Sans KR', sans-serif; 
}

.bg-sunny { 
    background-image: linear-gradient(to bottom, #87CEEB, #FFFFFF); 
}

#content-frame { 
    border: none; 
    width: 100%; 
    height: 100%; 
}